
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>

    <script type="text/javascript" th:src="@{/webapp/static/lib}"  ></script>
    <script type="text/javascript" th:src="@{/webapp/static/lib/respond.min.js}" ></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/skin/red/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/bootstrap-3.3.7/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/multiple-select/css/multi-select.css}" />

    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{/webapp/static/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>mirtoolsgallery</title>

    <script th:src="@{/webapp/lib/html5shiv.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">


</head>

<body>
<header class="navbar-wrapper">

</header>
<div class="container">


<h2 class="title" id="page-title" style="user-select: auto;">

    Submit user       </h2>




<form class="form"  id="userForm"  >

    <div  class="form-group required">
        <label class="control-label fw-normal fs-4" for="userName" style="user-select: auto;">User Name</label>
        <input type="text" class="form-control form-control-sm "  id="userName" name="userName" size="60" required="required" oninvalid="this.setCustomValidity('Please input the name of new users.')">
    </div><br>

    <div class="form-group required">
        <label class="control-label fw-normal fs-4"  style="user-select: auto;">Status</label>
        <div>
            <label class="radio-inline">
                <input type="radio" name="status" id="inlineRadio1" value="0"> active
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" id="inlineRadio2" value="1"> dead
            </label>
        </div>

    </div><br>
    <div class="form-group required">
        <label  class="control-label fw-normal fs-4" for="mail">Email address </label>
        <input name="mail" id="mail" type="text" class="form-control form-control-sm" required="required" oninvalid="this.setCustomValidity('Please Enter email address')">

    </div><br>

    <div class="form-group required">
        <label class="control-label fw-normal fs-4" for="password">Initial password</label>
        <input name="password" id="password" type="password" class="form-control" required  oninvalid="this.setCustomValidity('Please Enter password')"
               oninput="setCustomValidity('')">

        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div><br>

    <div class="form-group required">
        <label class="control-label fw-normal fs-4" for="password">Confirm Password</label>
        <input name="password2" id="password2" type="password" class="form-control" required  oninvalid="this.setCustomValidity('Please Enter password')"
               oninput="setCustomValidity('')">

        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div><br>
    <div >
        <label class=" control-label fw-normal fs-4"  style="user-select: auto;">Role</label>

        <select id='role_multi' multiple='multiple' name="roleIds">
            <option th:each="role:${roles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
        </select>
    </div>



    <div class="col-12">
        <button id="submitTool" class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

</div>

<script type="text/javascript" th:src="@{/webapp/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/multiple-select/js/jquery.multi-select.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/multiple-select/js/jquery.quicksearch.js}"></script>


<script type="text/javascript" th:src="@{/webapp/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/jquery.serializeJSON/jquery.serializejson.min.js}"></script>
<script>


    $("#userForm").validate({
        rules:{
            userName: {
                required:true,
                minlength:2,
                maxlength:10,

                remote:{
                    url:"/admin/checkUserName",
                    type: "post",
                    dataType: "json",
                    data:{
                        userName : function (){
                            return $('#userName').val()
                        }
                    }
                }


            },
            status:{
                required: true
            },
            mail: {
                required: true,
                email:true,
                remote:{
                    url:"/admin/checkMail",
                    type: "post",
                    dataType: "json",
                    data:{
                        mail : function (){
                            return $('#mail').val()
                        }
                    }
                }
            },
            password: {
                required:true,
                minlength: 6,
                maxlength:16
            },
            password2:{
                required:true,
                equalTo: "#password"
            }
        },
        messages:{
            userName:{
                required: "userName can not be empty",
                remote: "userName already exists",
                minlength: "The length of the username cannot be less than 2 ",
                maxlength: "The length of the username cannot be more than 8"
            },
            status: {
                required:"status can not be empty"
            },
            mail:{
                required: "Email address can not be empty",
                email: "Email address is not correct",
                remote:"Email address already exists"
            },
            password: {
                minlength:"The length of the password cannot be less than 6",
                maxlength:"The length of the password cannot be more than 16"
            },
            password2: {
                equalTo: "The two passwords are not the same"
            }


        },
        submitHandler:function(form){
            /*var JSONobj = $("#userForm").serializeJSON();
            var JSONstr = JSON.stringify(JSONobj);//将JSON对象格式化成字符串*/
           var formData = new FormData($("#userForm")[0]);
            $.ajax({
                type:"post",
                url:"/admin/manage/insert",
                cache: false,
                contentType: false,
                processData: false,
                data:formData,
                dataType : 'json',
                success:function (res) {

                    if (res.status == 0) {
                        //弹出一个提示消息

                        layer.msg(res.msg, {time: 1000, icon:6},function () {
                            parent.refreshTable()
                            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    } else {
                        //弹出一个提示消息

                        layer.msg(res.msg, {time: 1000, icon:5},function () {

                            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        });
                    }
                },
                error:function (res) {

                    layer.msg(res.msg,{time: 1000, icon:5})
                }
            })


        }

    });

    function addMirtoolLinks() {
        //用备份克隆新的订单详情

        let newDetail = copy.clone()
        newDetail.change(function(e){
            culTotal(e)
        })
        //添加进admin_detail
        $('#links').append(newDetail)
    }
    function removeMirtoolLink(obj) {
        $(obj).parent().parent().remove()
    }

    multiSelect_obj('#role_multi');

    function multiSelect_obj(obj){
        $(obj).multiSelect({ selectableHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='try \"a\"'>",
            selectionHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='try \"a\"'>",
            afterInit: function(ms){
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e){
                        if (e.which === 40){
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e){
                        if (e.which == 40){
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function(){
                this.qs1.cache();
                this.qs2.cache();
            }})
    }





</script>
</body>
</html>