

<!DOCTYPE html>
<html lang="zh-CN">
<head id="Head1"><meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta name="applicable-device" content="pc,mobile" /><title>
    技高网_专利查询，服务企业创新，推动技术升级转型！
</title><meta content="专利查询系统，提供各行业专利查询，转让，最新前沿专利技术对接信息，专注专利查询15年，简洁易操作的专利查询系统，免费下载专利数据，拥有1500万条专利数据供您免费使用的专利查询系统。技高网，技高一筹，专注专利技术。" name="description" /><meta content="专利技术网,技高网,专利查询,专利转让网,专利交易网,专利查询系统,专利检索,专利技术下载,专利下载网,应用技术网" name="keywords" />

    <!-- Bootstrap core CSS -->
    <link href="https://img.jigao616.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://img.jigao616.com/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://img.jigao616.com/js/html5shiv.min.js"></script>
    <script src="https://img.jigao616.com/js/respond.min.js"></script>
    <![endif]--><meta name="keywords" content="技高网,专利技术图纸，专利下载" /><meta name="description" content="各种最新技术资料，包含节能减排技术，新材料技术，航空航天，生物医药等技术资料，里面包含了图纸，配方等信息！" /></head>
<body>

<nav class="navbar navbar-diy">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">专利查询</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.jigao616.com/"><img src="https://img.jigao616.com/images/logo.png" alt="技高网"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="https://www.jigao616.com/">首页</a></li>
                <li><a href="https://www.jigao616.com/zhuanlipinggu.aspx">专利评估</a></li>
            </ul>
            <ul id="top1_denglu" class="nav navbar-nav navbar-right">
                <li><a href="https://www.jigao616.com/login.aspx">登录</a></li>
                <li><a href="https://www.jigao616.com/reg.aspx">注册</a></li>
            </ul>

        </div><!--/.nav-collapse -->
        <div class="navbar-form navbar-left topsearch" role="search">
            <input type="text" class="top-control" placeholder="搜索技术材料..." id="patentText" onkeydown= "if(event.keyCode==13){patentS(); return false;}">
            <button type="submit" class="btn btn-so" onclick="patentS();return false;"></button>
        </div>

    </div>
</nav>
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-search-list col-topbar">
                    <div class="soinbox">
                        <div class="so-header">HI，欢迎查找专利技术</div>
                        <div class="so-body">
                            <div class="so-cont">
                                输入关键词，如  <a href="#" class="text-tag">自行车</a>、<a href="#" class="text-tag">二氧化碳</a>  等技术名词，再点击搜索即可。技高网有1985至今的所有中国<a href="https://www.jigao616.com/zuixinzhuanli.aspx">专利技术</a>信息。
                            </div>
                        </div>
                        <div class="so-in-search">
                            <input type="text" value="" placeholder="输入技术关键词，如自行车、二氧化碳"class="in-control" id="search_text" name="search_text" onkeydown= "if(event.keyCode==13){patentIS(); return false;}">
                            <button class="btn-inbar" onclick="patentIS();return false;"></button>
                        </div>
                    </div>
                </div>
                <div class="col-box">
                    <div class="col-box-header">



                        <div id="PanelZhongshuju">

                            <div class="box-header-h3">最新专利技术资料</div>
                            <div class="box-header-h5">
                                截至2021年04月07日，共有<strong class="text-red">25,305,836</strong>条技术数据。
                            </div>

                        </div>



                    </div>
                </div>
                <div class="col-search-list">
                    <ul>



                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999231.aspx'  target="_blank" title='一种柔性集成电路预贴合装置制造方法及图纸'>一种柔性集成电路预贴合装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术涉及集成电路技术领域，公开了一种柔性集成电路预贴合装置，包括手持板，所述手持板的下表面固定安装有安装臂调节装置，所述安装臂调节装置的两侧均固定安装有臂管，所述臂管的侧面开设有插孔，且臂管的内部滑动安装有臂杆，所述臂杆的侧面固定安装有插销，且臂杆在远离臂管的一...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/anhuijiashijidiankejiyouxiangongsi/'>安徽嘉实机电科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/yumin0/'>余敏</a>，<a href='https://www.jigao616.com/zhuanli/wangfang1/'>王方</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：6</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999230.aspx'  target="_blank" title='一种SMT贴片组装固定装置制造方法及图纸'>一种SMT贴片组装固定装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种SMT贴片组装固定装置，包括壳体、导槽、活动座一、双头螺杆、端盖一、电机一、花键轴、主动齿轮一、从动齿轮一、导孔一、竖向螺杆一、活动套体一、固定卡块一、压紧块一、固定卡块二、压紧块二、活动套体二、竖向螺杆二、导孔二、从动齿轮二、主动齿轮二、电机二、...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/hunanshengyuandianzikejiyouxiangongsi/'>湖南盛源电子科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/lijuan/'>李娟</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999229.aspx'  target="_blank" title='一种具有自动贴片功能的贴片机制造技术'>一种具有自动贴片功能的贴片机制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种具有自动贴片功能的贴片机，包括机体，所述机体内腔顶部的两侧均固定连接有电动伸缩杆，所述电动伸缩杆的输出端固定连接有贴片板，所述贴片板的正面固定连接有定位传感器，机体内腔的底部通过滑动机构活动连接有放置板，机体正面的左侧固定连接有控制键。本实用新型专...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/changzhouhangxizhinengkejiyouxiangongsi/'>常州航熙智能科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/?q=%e9%82%b9%e5%ad%a6%e4%bc%8d'>邹学伍</a>，<a href='https://www.jigao616.com/zhuanli/zhuxiaoyun/'>朱晓云</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e6%9b%be%e5%b0%8f%e7%be%a4'>曾小群</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e7%bd%97%e6%b0%b8%e6%b4%8b'>罗永洋</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：4</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999228.aspx'  target="_blank" title='一种高精度贴片机制造技术'>一种高精度贴片机制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种高精度贴片机，其特征在于：包括支撑架、设于所述支撑架内的推动机构、设于所述支撑架上的物料盘架、设于所述支撑架上的物料盘、设于所述支撑架上的减震机构、设于所述支撑架上的限位条、设于所述支撑架上的第一驱动、设于所述第一驱动上的气缸及设于所述气缸的机械手...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/zhejiangmingkaizhaomingyouxiangongsi/'>浙江明凯照明有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/zhangyong/'>张勇</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：5</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999227.aspx'  target="_blank" title='LED数码管快速定位夹取模具制造技术'>LED数码管快速定位夹取模具制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术涉及数码管技术领域，公开了LED数码管快速定位夹取模具，包括底座，所述底座的顶端一侧设有第一液压杆，所述底座的顶端的另一侧设有模具本体，所述第一液压杆的顶端设有横板，所述横板内设置有第二液压杆，所述第二液压杆的输出端连接有定位夹取机构，所述定位夹取机构位于模...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshishulongguangdianlianjianyouxiangongsi/'>深圳市豫龙光电零件有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/dongshen/'>董震</a>，<a href='https://www.jigao616.com/zhuanli/chenliang0/'>陈亮</a>，<a href='https://www.jigao616.com/zhuanli/zhangdandan/'>张丹丹</a>，<a href='https://www.jigao616.com/zhuanli/xuzhiyuan1/'>徐志远</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：3</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999226.aspx'  target="_blank" title='一种贴片机用振动供料台制造技术'>一种贴片机用振动供料台制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种贴片机用振动供料台，包括底座，所述底座的顶部外壁固定连接有螺旋振动盘本体，且螺旋振动盘本体的一侧外壁固定连接有第一下料框，所述第一下料框的一端外壁固定连接有安装座，且安装座的一端外壁固定连接有正反转电机，所述安装座的两侧内壁转动连接有多个转动辊，且...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshizhanhongzidonghuashebeiyouxiangongsi/'>深圳市展弘自动化设备有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/lihongxia0/'>李红霞</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999225.aspx'  target="_blank" title='一种主板贴片机的主板固定装置制造方法及图纸'>一种主板贴片机的主板固定装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种主板贴片机的主板固定装置，包括机架，所述机架的顶部外壁设有顶滑轨，且顶滑轨的内壁滑动连接有横梁，所述横梁的底端内壁设有横置滑轨，且横置滑轨的底端内壁滑动连接有夹持组件，所述机架的内壁中部设有通槽，且通槽的内壁设有中置贴片传动带组件，所述机架的内壁位...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshituoruipukejiyouxiangongsi/'>深圳市拓睿璞科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/lizhenhua/'>李振华</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999224.aspx'  target="_blank" title='一种主板贴片机的送料装置制造方法及图纸'>一种主板贴片机的送料装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种主板贴片机的送料装置，包括工作台，所述工作台的一侧外壁通过螺栓螺接有收纳盒，所述工作台顶部外壁通过螺栓螺接有防护罩，所述防护罩顶部外壁通过螺栓螺接有声光报警器，所述工作台的一侧外壁通过螺栓螺接有控制箱，所述工作台顶部外壁均开设有等距离分布的导料槽，...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshituoruipukejiyouxiangongsi/'>深圳市拓睿璞科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/lizhenhua/'>李振华</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999223.aspx'  target="_blank" title='一种贴片机用PCB板的支撑结构制造技术'>一种贴片机用PCB板的支撑结构制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种贴片机用PCB板的支撑结构，包括机架，所述机架顶部两侧外壁均设有X轴导轨，且两个X轴导轨外壁设有同一个Y轴导轨，所述Y轴导轨上设置有贴片组件，且贴片组件正下方设有置物板，所述置物板顶部外壁设有多个吸槽，且置物板一侧外壁开有两个通气孔，多个所述吸槽均...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshizhanhongzidonghuashebeiyouxiangongsi/'>深圳市展弘自动化设备有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/lihongxia0/'>李红霞</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999222.aspx'  target="_blank" title='一种用于主板生产的贴片机工作台制造技术'>一种用于主板生产的贴片机工作台制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种用于主板生产的贴片机工作台，包括机箱，所述机箱的顶部外壁固定连接有工作台，且工作台的顶部外壁中部设有空腔，所述空腔的两侧内壁平行分布有两个相同规格的输送组件，且机箱的两侧位于两个输送组件之间均设有托架，所述托架的内壁卡接有工位开关，所述工作台的顶部...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshituoruipukejiyouxiangongsi/'>深圳市拓睿璞科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/lizhenhua/'>李振华</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999221.aspx'  target="_blank" title='一种屏蔽性能高的黑色导电布制造技术'>一种屏蔽性能高的黑色导电布制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种屏蔽性能高的黑色导电布，涉及导电布技术领域。包括便携组件以及导电布本体，所述便携组件的内部活动设置有导电布本体，所述便携组件包括安装盒，所述安装盒的表面固定设置有出料嘴，所述安装盒的表面以及出料嘴的底部均开设有牵引孔，所述出料嘴的内部活动设置有压块...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshikaishixinbingbicailiaoyouxiangongsi/'>深圳市开实新屏蔽材料有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/huangfu2/'>黄甫</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999220.aspx'  target="_blank" title='一种屏蔽性能高低电阻的导电海绵制造技术'>一种屏蔽性能高低电阻的导电海绵制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种屏蔽性能高低电阻的导电海绵，涉及导电海绵技术领域。包括导电海绵本体，所述导电海绵本体的外表面固定安装有第一屏蔽盒，所述第一屏蔽盒四周侧壁上均匀开设有通孔，所述第一屏蔽盒外表面固定安装有第二屏蔽盒，所述第二屏蔽盒上下内壁位于第一屏蔽盒左右两侧均固定安...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/shenzhenshikaishixinbingbicailiaoyouxiangongsi/'>深圳市开实新屏蔽材料有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/huangfu2/'>黄甫</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999219.aspx'  target="_blank" title='一种中走丝步进控制柜生产用防静电装置制造方法及图纸'>一种中走丝步进控制柜生产用防静电装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种中走丝步进控制柜生产用防静电装置，包括工作台，所述工作台上表面固定安装有机架，所述机架内顶部固定安装有第一电动推杆，所述第一电动推杆的输出杆端固定连接有支撑板，所述支撑板两端均固定连接有支撑杆，两组所述支撑杆远离支撑板一端均固定安装有滑轮，两组所述...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/suzhouchuzhixiongjidiankejiyouxiangongsi/'>苏州楚之雄机电科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/chuchenglong/'>涂成龙</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999218.aspx'  target="_blank" title='一种通讯信号屏蔽盒制造技术'>一种通讯信号屏蔽盒制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开的一种通讯信号屏蔽盒，包括屏蔽壳体、固定卡块、屏蔽放置盒、屏蔽上盖、固定连接气囊和自适应夹紧组件，屏蔽壳体呈上端开口的中空腔体设置，屏蔽上盖设于屏蔽壳体上端开口处，固定卡块呈对称设置设于屏蔽壳体底壁两端，屏蔽放置盒设于屏蔽壳体底壁上且设于固定卡块之间，固...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/hebeixinruijixiekejiyouxiangongsi/'>河北鑫瑞机械科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/?q=%e6%88%90%e5%88%a9%e5%85%b5'>成利兵</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e6%88%90%e5%b0%91%e5%ba%b7'>成少康</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e5%ae%8b%e5%bd%95%e8%90%8d'>宋录萍</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999217.aspx'  target="_blank" title='一种新型便携式电磁干扰装置制造方法及图纸'>一种新型便携式电磁干扰装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开一种新型便携式电磁干扰装置，包括干扰主机和连接套，所述干扰主机靠近左右两侧上端外壁上均安装有连接套，两个所述连接套上均连接有干扰天线，所述干扰主机的上端连接有携带保护装置，所述干扰主机的前后两端外壁上均设置有散热条槽，通过在该便携式电磁干扰装置上增加有一...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/jiangsuwohongkejiyouxiangongsi/'>江苏沃鸿科技有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/?q=%e5%91%a8%e6%98%a5%e5%bb%ba'>周春建</a>，<a href='https://www.jigao616.com/zhuanli/dingxueping0/'>丁雪平</a>，<a href='https://www.jigao616.com/zhuanli/liguoping/'>李国平</a>，<a href='https://www.jigao616.com/zhuanli/sunxia/'>孙霞</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e7%bf%9f%e6%99%93%e7%84%95'>翟晓焕</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999216.aspx'  target="_blank" title='一种电磁波屏蔽膜制造技术'>一种电磁波屏蔽膜制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    一种电磁波屏蔽膜，包括屏蔽层，所述屏蔽层上设置有撕裂线，将屏蔽层分割成沿撕裂线可撕裂的若干单元，还包括黏着层和保护层，所述保护层通过黏着层与屏蔽层可剥离的粘贴在一起。本实用新型专利技术的屏蔽层可沿特定方向撕裂、无需裁剪即可使用，屏蔽单元两侧设置有黏着层，仅需将屏蔽层粘贴并压实...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/chengdouwotesaiendianzijishuyouxiangongsi/'>成都沃特塞恩电子技术有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/chensenlin/'>陈森林</a>，<a href='https://www.jigao616.com/zhuanli/helei0/'>何磊</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：3</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999215.aspx'  target="_blank" title='一种多功能起重机电控柜防磁抗干扰结构制造技术'>一种多功能起重机电控柜防磁抗干扰结构制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种多功能起重机电控柜防磁抗干扰结构，具体涉及电控柜设备领域，包括电控柜主体，所述电控柜主体内壁上固定设有上隔板，所述电控柜主体内壁上固定设有下隔板，所述上隔板和下隔板之间设有两个侧板，所述上隔板顶端和下隔板底端均固定设有两个束线管，所述束线管外端设有...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/dalianyinyidianqigongchengyouxiangongsi/'>大连众益电气工程有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/?q=%e5%8f%b8%e7%a3%8a'>司磊</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999214.aspx'  target="_blank" title='同轴屏蔽装置制造方法及图纸'>同轴屏蔽装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术提供一种同轴屏蔽装置，用于解决现有技术中兼容性差的问题。包括：金属内管和金属外管，所述金属外管外套在所述金属内管上，所述金属内管为进水通道，所述金属内管外壁和所述金属外管内壁之间形成出水通道，所述金属外管的出水端为封闭结构；接头，所述接头用于将所述金属内管、...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/chongqingronghaichaoshengyixuegongchengyanjiuzhongxinyouxiangongsi/'>重庆融海超声医学工程研究中心有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/xuzhijun/'>徐志军</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e8%b0%ad%e5%9d%9a%e6%96%87'>谭坚文</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：2</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999213.aspx'  target="_blank" title='一种机车信号传递的保护装置制造方法及图纸'>一种机车信号传递的保护装置制造方法及图纸</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了一种机车信号传递的保护装置，包括箱体和箱盖；所述箱体包括横板、挡板和底板，所述箱体上侧设置有固定柱；所述箱盖设置在箱体的上方，所述箱盖下表面设置有固定槽，所述固定槽内设置有凹槽；所述横板、挡板、底板和箱盖内侧均设置有屏蔽层；所述屏蔽层之间均通过导线互相...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/zhengzhoutieluzhiyejishuxueyuan/'>郑州铁路职业技术学院</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/?q=%e5%bc%a0%e7%90%bc%e6%b4%81'>张琼洁</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e5%8d%95%e7%bb%8d%e5%b9%b3'>单绍平</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e6%b5%b7%e6%96%b9'>海方</a>，<a href='https://www.jigao616.com/zhuanli/?q=%e9%99%88%e5%a5%8e%e5%85%83'>陈奎元</a>，<a href='https://www.jigao616.com/zhuanli/lishuying6/'>李书营</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：6</span>
                            </div>
                        </li>

                        <li>
                            <div class="so-header">
                                <a href='https://www.jigao616.com/zhuanlijieshao_27999212.aspx'  target="_blank" title='用于手机的金属屏蔽罩制造技术'>用于手机的金属屏蔽罩制造技术</a>
                            </div>
                            <div class="so-body">

                                <div class="so-cont">
                                    本实用新型专利技术公开了用于手机的金属屏蔽罩，本实用新型专利技术涉及屏蔽罩技术领域，用于手机的金属屏蔽罩包括：罩底座，罩底座包括支撑板、底板、支板以及弹簧，且支撑板设有两块并左右对称，两块支撑板分别垂直焊接于底板上表面左右两侧，且支板位于两块支撑板之间中部位置，弹簧设有至少五...
                                </div>
                            </div>
                            <div class="so-meta">
                                专利权人：<a href='https://www.jigao616.com/zhuanli/kunshanshuoshangjingmidianziyouxiangongsi/'>昆山硕上精密电子有限公司</a>，　　技术研发人员：<a href='https://www.jigao616.com/zhuanli/?q=%e7%86%8a%e4%ba%ae%e4%ba%ae'>熊亮亮</a>，
                            </div>
                            <div class="so-footer">
                            <span class="pull-left">
                                1天前更新
                            </span>
                                <span class="pull-right"> 访问量：3</span>
                            </div>
                        </li>





                    </ul>
                </div>
                <!-- pages -->
                <div class="pages">

                    <a href="#" class="current">1</a>  <a href="/?page=2">2</a>  <a href="/?page=3">3</a>  <a href="/?page=4">4</a>  <a href="/?page=5">5</a>  <a href="/?page=6">6</a>  <a href="/?page=7">7</a>  <a href="/?page=8">8</a>  <a  href='/?page=2' class="next">>></a>  <a  href='/?page=250'>尾页</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-box">
                    <div class="col-box-header"><span class="search-tit"><a href="https://www.jigao616.com/zhuanli/zhuanliMulu.aspx" title="2021-04-07发明人排行榜">科研机构数量排行前10</a></span></div>
                    <div class="col-box-list">
                        <ul>


                            <li><a href="https://www.jigao616.com/zhuanli/huaweijishuyouxiangongsi/" title="华为技术有限公司专利">华为技术有限公司</a> 77732</li>

                            <li><a href="https://www.jigao616.com/zhuanli/guojiadianwanggongsi/" title="国家电网公司专利">国家电网公司</a> 59609</li>

                            <li><a href="https://www.jigao616.com/zhuanli/zhongxintongxungufenyouxiangongsi/" title="中兴通讯股份有限公司专利">中兴通讯股份有限公司</a> 56030</li>

                            <li><a href="https://www.jigao616.com/zhuanli/zhuhaigelidianqigufenyouxiangongsi/" title="珠海格力电器股份有限公司专利">珠海格力电器股份有限公司</a> 56022</li>

                            <li><a href="https://www.jigao616.com/zhuanli/zhongguoshiyouhuagonggufenyouxiangongsi/" title="中国石油化工股份有限公司专利">中国石油化工股份有限公司</a> 54347</li>

                            <li><a href="https://www.jigao616.com/zhuanli/sanxingdianzizhushihuishe/" title="三星电子株式会社专利">三星电子株式会社</a> 49724</li>

                            <li><a href="https://www.jigao616.com/zhuanli/zhejiangdaxue/" title="浙江大学专利">浙江大学</a> 49161</li>

                            <li><a href="https://www.jigao616.com/zhuanli/qinghuadaxue/" title="清华大学专利">清华大学</a> 35451</li>

                            <li><a href="https://www.jigao616.com/zhuanli/songxiadianqichanyezhushihuishe/" title="松下电器产业株式会社专利">松下电器产业株式会社</a> 34615</li>

                            <li><a href="https://www.jigao616.com/zhuanli/huananligongdaxue/" title="华南理工大学专利">华南理工大学</a> 33593</li>

                        </ul>
                    </div>
                </div>
                <div class="col-box">
                    <div class="col-box-header"><span class="search-tit"><a href="https://www.jigao616.com/zhuanli/zhuanliMulu.aspx" title="2021-04-07发明人排行榜">最新更新发明人</a></span></div>
                    <div class="col-box-list">
                        <ul>


                            <li><a href="https://www.jigao616.com/zhuanli/beijingnongyezhinengzhuangbeijishuyanjiuzhongxin/" title="北京农业智能装备技术研究中心专利">北京农业智能装备技术研究中心</a> 858</li>

                            <li><a href="https://www.jigao616.com/zhuanli/shuilibujiaotongyunshubuguojianengyuanjunanjingshuilikexueyanjiuyuan/" title="水利部交通运输部国家能源局南京水利科学研究院专利">水利部交通运输部国家能源局南京水利科学研究院</a> 1187</li>

                            <li><a href="https://www.jigao616.com/zhuanli/chongqingwenlixueyuan/" title="重庆文理学院专利">重庆文理学院</a> 2177</li>

                            <li><a href="https://www.jigao616.com/zhuanli/yanxin6/" title="闫鑫专利">闫鑫</a> 17</li>

                            <li><a href="https://www.jigao616.com/zhuanli/hangzhoushiwanlinluhuagufenyouxiangongsi/" title="杭州市园林绿化股份有限公司专利">杭州市园林绿化股份有限公司</a> 89</li>

                            <li><a href="https://www.jigao616.com/zhuanli/heilongjiangshengnongyekexueyuanshengwujishuyanjiusuo/" title="黑龙江省农业科学院生物技术研究所专利">黑龙江省农业科学院生物技术研究所</a> 22</li>

                            <li><a href="https://www.jigao616.com/zhuanli/zhonglianzhongjizhejiangyouxiangongsi/" title="中联重机浙江有限公司专利">中联重机浙江有限公司</a> 93</li>

                            <li><a href="https://www.jigao616.com/zhuanli/jiangsufengshoudadizhongyefazhanyouxiangongsi/" title="江苏丰收大地种业发展有限公司专利">江苏丰收大地种业发展有限公司</a> 14</li>

                            <li><a href="https://www.jigao616.com/zhuanli/guixishishuangzhencaiyulinchang/" title="贵溪市双圳采育林场专利">贵溪市双圳采育林场</a> 37</li>

                            <li><a href="https://www.jigao616.com/zhuanli/chongqingshikaizhouquliuhongshuiguozhongzhijidi/" title="重庆市开州区刘洪水果种植基地专利">重庆市开州区刘洪水果种植基地</a> 10</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p>

        <a  href="https://www.jigao616.com/about_26.aspx">关于我们</a>

        <span class="line">|</span>


        <a  href="https://www.jigao616.com/about_22.aspx">联系我们</a>

        <span class="line">|</span>


        <a  href="https://www.jigao616.com/about_46.aspx">支付方式</a>

        <span class="line"></span>


    </p>
    <p>Copyright &copy; 2018 All Rights Reserved. </p><p> <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">津ICP备16005673号-1</a> <a href="http://www.beian.gov.cn" target="_blank" rel="nofollow">津公网安备 12019202000132号</a> 技高德科技（天津）有限公司版权所有</p>

</div>
<script src='https://img.jigao616.com/js/jquery.min.js'></script>
<script src='https://img.jigao616.com/js/bootstrap.min.js'></script>
<script src="https://img.jigao616.com/js/jquery.lazyload.js"></script>
<script type="text/javascript">
    $(function () {
        $("img.lazyload").lazyload();
    });
    //科技券领取
    function onlogin(url) {
        $.getJSON(url + "ashx/DaKa.ashx?j=" + Math.random(), function (json) {
            if (json.data == 2) {
                //$("#daka").html("已签到");
                alert("今天已领取");
            } else if (json.data == 1) {
                $("#daka").html("已领取科技券");
                alert("签到领取了5个科技券\r\n每天只能领取一次");
            } else {
                alert("领取失败，请重新登录");
            }
        });
    }
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?12366927c4be2160d368602e4ed13f15";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</body>
</html>
