<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>

    <script type="text/javascript" th:src="@{/webapp/static/lib}"  ></script>
    <script type="text/javascript" th:src="@{/webapp/static/lib/respond.min.js}" ></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/skin/red/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/bootstrap-3.3.7/css/bootstrap.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/pagination/css/pagination.css}" />

    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{/webapp/static/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>mirtoolsgallery</title>
    <script th:src="@{/webapp/lib/html5shiv.js}"></script>
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar">
        <div class="container-fluid cl">

            <a class=" navbar-logo f-l mr-10 hidden-xs" th:href="@{index}">
                <img th:src="@{/images/logo-miRToolsGallery-150.png}" height="150" width="273"/>
            </a>


            <a class="logo navbar-logo-m f-l mr-10 visible-xs" th:href="@{index}">miRToolsGallery</a>

            <span class="logo navbar-slogan f-l mr-10 hidden-xs">A Small Non-coding RNA bioinformatics resources database portal</span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>




            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li id="Hui-backstage-management"> <a th:href="@{/manage/index}" ><i class="Hui-iconfont" style="font-size:18px">backstage management</i></a> </li>
                    <li id="Hui-sign-in"> <a th:href="@{/login}" ><i class="Hui-iconfont" style="font-size:18px">sign in</i></a> </li>
                    <li id="Hui-sign-up"> <a th:href="@{/signup}"><i class="Hui-iconfont" style="font-size:18px">sign up</i></a> </li>

                </ul>
            </nav>
        </div>
        <div class="container-fluid cl">
            <nav id="Hui-nav" class="nav navbar-nav nav-collapse" role="navigation" style="user-select: auto;">
                <ul id="min_title_list" >
                    <li calss="current" id="Huinav_1" style="user-select: auto;"> <a th:href="@{/index}">Home</a> </li>
                    <li id="Huinav_2" style="user-select: auto;"> <a th:href="@{/mirtool/filter}" style="user-select: auto;">Filter and Rank</a> </li>
                    <li id="Huinav_3" style="user-select: auto;"> <a th:href="@{/tutorials}" style="user-select: auto;">Tutorials</a> </li>
                    <li id="Huinav_4" style="user-select: auto;"> <a th:href="@{/tag/list}" style="user-select: auto;">Tags Gallery</a> </li>
                    <li id="Huinav_5" style="user-select: auto;"> <a th:href="@{/logo/list}" style="user-select: auto;">Logo Gallery</a> </li>
                    <li id="Huinav_6" style="user-select: auto;"> <a th:href="@{/paper/list}" style="user-select: auto;">Review Paper Gallery</a> </li>
                    <li id="Huinav_7" style="user-select: auto;"> <a th:href="@{/mirtool/add}" style="user-select: auto;">Submit Tools</a> </li>
                    <li id="Huinav_8" style="user-select: auto;"> <a th:href="@{/mirtool/manage}" style="user-select: auto;">Manage Tools</a> </li>
                    <li id="Huinav_9" style="user-select: auto;"> <a th:href="@{/contact}" style="user-select: auto;">Contact Us</a> </li>
                </ul>
            </nav>
        </div>
    </div>

</header>
<div class="container" style="user-select: auto">
    <div class="row">
        <div class="col-md-8">
            <h2 class="title" th:if="${status!=null}" th:text="${status}"></h2>
            <h2 class="title" th:if="${tag!=null}" th:text="${tag}"></h2>
            <h2 class="title" th:if="${platform!=null}" th:text="${platform}"></h2>
            <h2 class="title" th:if="${technique!=null}" th:text="${technique}"></h2>
            <h2 class="title" th:if="${species!=null}" th:text="${species}"></h2>
            <h2 class="title" th:if="${method!=null}" th:text="${method}"></h2>
            <div class="col-search-list col-topbar">

                <div class="col-search-list " >
                    <ul >
                        <li th:each="mirtool:${page.rows}" >
                            <div class="so-header">
                                <a   th:text="${mirtool.mirtoolName}" th:href="@{/mirtool/detail(mirtoolId=${mirtool.mirtoolId})}"></a>

                            </div>
                            <div  class="so-body ">
                                <p  th:text="' '+${mirtool.summary}" id="xmpl-3" class="wapper"></p>
                                <a th:href="@{/mirtool/detail(mirtoolId=${mirtool.mirtoolId})}" th:text="'Read more '" class="toggle"></a>
                            </div>
                            <div class="so-meta" th:text="'Submitted on：'+${mirtool.creatTime}">

                            </div>
                            <div class="so-footer">

							<span class="pull-right">

</span>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- pages -->
                <!--<div class="pages">

                    <a href="#">首页</a>  <a  href='/?page=2' class="prev"><<</a> <a href="#" class="current">1</a>  <a class="current" href="/?page=2">2</a>  <a href="/?page=3">3</a>  <a href="/?page=4">4</a>  <a href="/?page=5">5</a>  <a href="/?page=6">6</a>  <a href="/?page=7">7</a>  <a href="/?page=8">8</a>  <a  href='/?page=2' class="next">>></a>  <a  href='/?page=250'>尾页</a>
                </div>-->

            </div>
            <nav class="Page navigation example" role="navigation" aria-label="pagination">
                <ul class="pagination justify-content-end">
                    <li th:class="${page.isFirstPage}==true? 'disabled ' +'page-item'"><a class="page-link"
                                                                                          th:href="@{/index(pageNum='1')}">home</a></li>
                    <li th:class="${page.isFirstPage}==true? 'disabled'+'page-item'"><a class="page-link"
                                                                                        th:if="${page.current>1}"
                                                                                        th:href="@{/index(pageNum=${page.current - 1})}"><<</a>
                        <a class="page-link" th:if="${page.current==1}"><<</a></li>
                    <!-- 如果前面页码没有显示完则显示省略号 -->
                    <li th:if="${page.navigateFirstPage > 1}" class="page-item" ><span>&hellip;</span></li>
                    <!-- 显示导航页码 -->
                    <th:block th:each="i: ${page.navigatepageNums}">
                        <li th:class="${page.current == i} ? 'active'" class="page-item"><a class="page-link"
                                                                                            th:href="@{/index(pageNum=${i})}" th:text="${i}"></a></li>
                    </th:block>
                    <!-- 如果后面页码没有显示完则显示省略号 -->
                    <li th:if="${page.navigateLastPage < page.totalPages}"><span>&hellip;</span></li>

                    <li th:class="${page.isLastPage}==true? 'disabled'+'page-item'"><a class="page-link"
                                                                                       th:if="${page.current} < ${page.totalPages}"
                                                                                       th:href="@{/index(pageNum=${page.current + 1})}">>></a>
                        <a class="page-link" th:if="${page.current} == ${page.totalPages}">>></a></li>

                    <li th:class="${page.isLastPage}==true? 'disabled'+'page-item'"><a class="page-link"
                                                                                       th:href="@{/index(pageNum=${page.totalPages})}">last</a></li>
                </ul>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="col-box">
                <div class="col-box-header"><span class="search-tit">Latest Tools</span></div>
                <div class="col-box-list">
                    <ul>
                        <li th:each="latestMirtool:${latestMirtools}">  <img th:src="@{${latestMirtool.log.address}}"  height="40" width="80"  class="img-rounded" ><a th:href="@{/mirtool/detail(mirtoolId=${latestMirtool.mirtoolId})}" th:text="${latestMirtool.mirtoolName}" ></a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-box">
                <div class="col-box-header"><span class="search-tit">Popular Tools</span></div>
                <div class="col-box-list">
                    <ul>
                        <li th:each="popularMirtool:${popularMirtools}">  <img th:src="@{${popularMirtool.log.address}}"  height="40" width="80"  class="img-rounded" ><a th:href="@{/mirtool/detail(mirtoolId=${popularMirtool.mirtoolId})}" th:text="${popularMirtool.mirtoolName}" ></a> </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!--_footer 作为公共模版分离出去-->
!--<script type="text/javascript" th:src="@{/webapp/lib/jquery/1.9.1/jquery.min.js}"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webapp/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui.admin/js/H-ui.admin.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/dotdotdot/dotdotdot.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/pagination/js/jquery.pagination.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>



<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">


    var xmpl = document.querySelectorAll( '#xmpl-3' );
    for(var i=0;i<xmpl.length;i++){
        var dot = new Dotdotdot( xmpl[i], {

            // Prevents the <a class="toggle" /> from being removed
            keep: '.toggle',


        })
    }


    function getMirtools(currentPage){
        $.ajax({
            type:"get",
            url:"/index",
            data:{
                pageNum:currentPage
            },
            success:function (res) {

            }

        })


    }



    /**
     * 获取分页
     * @param totalPage  页码总量
     * @param currentPage 当前页码
     * @returns {String}
     */



    function getPagination(totalPage, currentPage){

        var paginationInfo = "<ul class=\"pagination justify-content-end\" >"+
            "<li class=\"page-item\"  disabled><a class=\"page-item\" th:href=\"/index?\" " +
            " onclick=\"refreshPages("+totalPage+" , "+(currentPage-1)+
            ")\""+">«</a></li>";

        if(totalPage<=10){
            for(var i=1; i<=totalPage; i++){
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                    " onclick=\"refreshPages("+totalPage+" , "+i+")\">"+i+"</a></li>";
            }
        }
        else{
            if(currentPage<=3){
                for(var i=1; i<=currentPage+2; i++){
                    paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                        " onclick=\"refreshPages("+totalPage+" , "+i+")\">"+i+"</a></li>";
                }
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\">...</a></li>";
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                    " onclick=\"refreshPages("+totalPage+" , "+totalPage+")\">"+totalPage+"</a></li>";
            }else if(currentPage<=totalPage-5){
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                    " onclick=\"refreshPages("+totalPage+" , "+1+")\">"+1+"</a></li>";

                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\">...</a></li>";
                for(var i=currentPage-1; i<=currentPage+2; i++){
                    paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                        " onclick=\"refreshPages("+totalPage+" , "+i+")\">"+i+"</a></li>";
                }
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\">...</a></li>";
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                    " onclick=\"refreshPages("+totalPage+" , "+totalPage+")\">"+totalPage+"</a></li>";
            }else{
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                    " onclick=\"refreshPages("+totalPage+" , "+1+")\">"+1+"</a></li>";
                paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\">...</a></li>";
                for(var i=currentPage-1; i<=totalPage; i++){
                    paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
                        " onclick=\"refreshPages("+totalPage+" , "+i+")\">"+i+"</a></li>";
                }
            }
        }

        paginationInfo += "<li class=\"page-item\"><a class=\"page-link\" href=\"javascript:void(0);\" " +
            " onclick=\"refreshPages("+totalPage+" , "+(currentPage+1)+")\""+">»</a></li>";

        return paginationInfo;
    }

    function refreshPages(totalPage, currentPage){

        if(currentPage<1 || currentPage>totalPage){
            window.location.href="/index?pageNum="+currentPage;
            return;
        }
        //window.location.href="/index?pageNum="+currentPage;
        var paginationInfo = getPagination(totalPage, currentPage);

        document.getElementById('pagination').innerHTML=paginationInfo;

    }


    /*refreshPages(totalPage,currentPage);*/

</script>
</body>
</html>
