
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>

    <script type="text/javascript" th:src="@{/webapp/static/lib}"  ></script>
    <script type="text/javascript" th:src="@{/webapp/static/lib/respond.min.js}" ></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/skin/red/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/static/h-ui.admin/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/lib/bootstrap-3.3.7/css/bootstrap.css}" />

    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{/webapp/static/lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>mirtoolsgallery</title>
    <meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    <script th:src="@{/webapp/lib/html5shiv.js}"></script>


</head>
<body>
<nav class="breadcrumb" style="padding: 0 20px;">
    <i class="Hui-iconfont">&#xe67f;</i> home
    <span class="c-gray en">&gt;</span> manage permission
    <span class="c-gray en">&gt;</span> permission list
</nav>
<div class="page-container">
    <span class="l" id="toolbar">
        <a href="javascript:;" onclick="multiDel()" class="btn btn-danger radius">
            <i class="Hui-iconfont">&#xe6e2;
            </i> multiple delete
        </a>
        <a href="javascript:;" onclick="permission_add('add permission','/permission/add','700','500')" class="btn btn-primary radius">
            <i class="Hui-iconfont">&#xe600;
            </i> add permission
        </a>
    </span>

    <table id="permissionTable"></table>
</div>
<script type="text/javascript" th:src="@{/webapp/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/static/h-ui.admin/js/H-ui.admin.js}"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">--></script>
<script type="text/javascript" th:src="@{/webapp/lib/bootstrap-3.3.7/js/bootstrap.js}"></script>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"  th:src="@{/webapp/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/laypage/1.2/laypage.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/webapp/lib/bootstrap-table/locale/bootstrap-table-en-US.js}"></script>
<script type="text/javascript">
    $('#permissionTable').bootstrapTable({
        pagination: true,
        sidePagination: "server",//是否是服务器分页，每次请求都是对应的10条数据，下一页发送ajax请求
        search: true,
        toolbar: "#toolbar",//顶部显示的工具条（添加和批量删除的）
        pageSize: 10,//默认的每页条数
        contentType: 'application/x-www-form-urlencoded',//条件搜索的时候ajax请求给后台数据的数据类型（条件搜索post提交必须设置）
        pageNumber: 1,//默认的页面 第一页
        pageList:[10,25,50,100],//每页能显示的条数
        paginationHAlign: 'right', //底部分页条
        showToggle: true, //是否显示详细视图和列表视图的切换按钮
        cardView: false, //是否显示详细视图
        showRefresh: true, //是否显示刷新按钮
        smartDisplay:false,
        showColumns:true,
        // detailView: true, //是否显示展开
        url:"/permission/getPermissions", //从 url 获取 json 数据
        /*
			ajax请求以后回调函数的处理
			后台使用返回的PageInfo对象中的 结果 级的key是list，总条数是total
			而前台bootstrapTable插件需要的数据的key叫做rows ，总条数也是叫做total
			那么出现一个问题 : 总条数的key能对上，结果集对不上，就需要在ajax请求完成回调
			responseHandler 这个函数方法处理一下
			并且在自定义一个 json,rows做为key，返回json的 list作为值
				total：还是total
			这样才能满足 bootstrapTable插件数据的需要
		*/
        responseHandler: function(res) {
            /*
                rows: 对应的是表的结果集
                total: 是 pagination 分页信息显示所需要的总记录数，
                       设置 sidePagination: "server" 这个属性后才需要，
                       不设置个属性的话，总记录数就是当前页面的记录数
             */
            var data = {
                rows : res.list,
                total: res.totalCount,
            }
            return data
        },
        /* onSort: function (name, order){

         },*/


        columns: [ //表格显示数据对应的表头设置，
            { checkbox: true},//是否显示前台的复选框（多选）
            /*
                每列数据的表头的设置
                filed:返回json数据对应数据的key
                title:表头要显示的名
            */
            {field: 'permissionId',title: 'permissionId'},
            {field: 'permissionName',title: 'permissionName'},
            {field: 'url',title: 'url'},
            {field: 'expression',title: 'expression'},
            {field: 'type',title:'type'},
            {field: 'parent.permissionName',title: 'permission parent'},
            { field:'permissionId',
                title:'操作',
                align:'center',
                formatter:operationFormatter
            }
        ],
        /*发送请求的参数，
			params: bootstrapTable的插件内部参数对象包含如下参数
			limit, offset, search, sort
			limit：每页条数
			offset：每页的结束位置
			search:搜索框对应的值
			sort：排序
		*/
        queryParams: function(params) {
            //此方法在用户分页或者搜索的时候回自动发送ajax请求调用，并把对应的参数传递给后台
            return{
                pageSize: params.limit,
                keyWord: params.search,
                pageNum: params.offset / params.limit + 1,
            }
        },

    })

    /*
        操作行格式化对应的函数
        value: 当前列的值
        row：当前行的值(json对应的具体某一行)
        index：索引位置
    */
    function operationFormatter(value) {
        var html ="<span onclick='permission_edit("+value+")' style='cursor: pointer;' class='glyphicon glyphicon-pencil'></span>&nbsp;&nbsp";
        html+="<span onclick='permission_del(this,"+value+")'  style='cursor: pointer;color:red' class='glyphicon glyphicon-trash'></span>";
        return html;
    }
    function statusFormatter(value) {
        if(value==0){
            return 'active'
        }
        else if (value == 1) {
            return 'dead'
        }
    }
    function roleFormatter(value){
        var role='';

        for(var i=0;i<value.length;i++){

            role+=value[i].roleName;
            if(value.length!=0&&i<value.length-1){
                role+=',';
            }
        }

        return role;
    }

    //刷新表格
    function refreshTable() {
        $('#permissionTable').bootstrapTable('refresh');
    }

    function multiDel() {
        let ids = $.map($('#permissionTable').bootstrapTable('getSelections'), function (row) {
            return row.permissionId;
        })
        if (ids.length == 0) {
            //弹出一个提示消息
            layer.msg('No tools selected', {time: 1000, icon:5});
        } else {
            layer.confirm('Are you sure you want to delete？',function(index){
                $.post("/permission/delete",{
                    permissionIds: ids.join()
                }).then(function (res) {
                    if (res.status == '0'){
                        //关闭询问框
                        layer.close(index);
                        //刷新表格
                        refreshTable();
                        //弹出一个提示消息
                        layer.msg(res.msg, {time: 1000, icon:6});
                    } else {
                        //关闭询问框
                        layer.close(index);
                        //弹出一个提示消息
                        layer.msg(res.msg, {time: 1000, icon:5});
                        //刷新表格
                        refreshTable();
                    }
                })
            });
        }
    }

    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*管理员-增加*/
    function permission_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*管理员-删除*/
    function permission_del(obj,permissionId){
        layer.confirm('Are you sure you want to delete？',function(index){

            $.post("/permission/delete",{
                permissionIds: permissionId
            }).then(function (res) {
                if (res.status == '0'){
                    //关闭询问框
                    layer.close(index);
                    //刷新表格
                    refreshTable();
                    //弹出一个提示消息
                    layer.msg(res.msg, {time: 1000, icon:6});
                } else {
                    //关闭询问框
                    layer.close(index);
                    //弹出一个提示消息
                    layer.msg(res.msg, {time: 1000, icon:5});
                    //刷新表格
                    refreshTable();
                }
            })
        });
    }

    /*管理员-编辑*/
    function permission_edit(permissionId){
        layer_show("edit permission","/permission/edit?permissionId="+permissionId,700,500);
    }


</script>
</body>
</html>
